<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="fr" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="fr" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="fr" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="fr" class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>MixTonTube - Balance le son DJ</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="css/style.css?v=42">
		<script src="js/modernizr.custom.js"></script>

	</head>
	<body>
		<!--[if lte IE 8]>
		   <p class="obsolete-browser">Vous utilisez un navigateur <strong>obsolète</strong>. <a href="http://browsehappy.com/">Mettez-le à jour</a> pour naviguer sur Internet de façon <strong>sécurisée</strong> !</p>
	   <![endif]-->

		<div id="container">
			<div class="title-container">
				<h1 class="title">MixTon<span class="tube">Tube</span></h1>
				<h2 class="subtitle">Découvre, redécouvre et joue ces bons morceaux des internet français</h2>
			</div>
			<div class="items-container">
			</div>
			<div class="info">
				<p>Coche une case ou utilise <code>shift+raccourci</code> pour activer la lecture en boucle d'un son.</p>
				<p>Glisse les boutons que tu veux sur la piste pour créer un super mix et partage-le en copiant l'URL de la page.</p>
			</div>
			<div class="track-container">
			</div>
			<div class="lightbox-container">
			</div>
		</div>

		<script type="text/template" id="item-tpl">
			<div class="item" data-url="<%= url %>" data-img="<%= img %>">
				<a class="item__video-link" href="#">
					<img class="item__img" src="<%= img %>">
				</a>
				<div class="item__sounds-wrapper">
					<% _(sounds).each(function(sound) { %>
						<div class="item__sound" data-file="<%= sound.file %>" data-title="<%= sound.title %>" data-shortcut="<%= sound.shortcut %>">
							<div class="item__sound-button-container">
								<!-- oui c'est pas un button alors que ça devrait, mais FF ne veut pas drag&drop sinon'... -->
								<span class="item__sound-button" /></span>
							</div>
							<input type="checkbox" class="item__sound-checkbox" />
							<div class="item__sound-keyboard-shortcut"><%= sound.shortcut ? sound.shortcut : '&nbsp;' %></div>
							<div class="item__sound-title"><%= sound.title %></div>
						</div>
					<% }) %>
				</div>
			</div>
		</script>
		<script type="text/template" id="track-tpl">
			<div class="track">
				<div class="track__all-items-wrapper">
					<div class="track__repeating-item-wrapper dndwrapper clearfix">
						<div class="track__repeating-item">
						</div>
						<div class="track__repeating-item-tooltip">Dépose un élément ici pour qu'il soit joué en boucle tout le long de la piste</div>
					</div>
					<div class="track__items-wrapper dndwrapper">
						<div class="track__items"></div>
					</div>
				</div>
				<div class="track__buttons-wrapper">
					<button type="button" class="track__playpause-button">Lire</button>
					<button type="button" class="track__reset-button">Réinitialiser</button>
					<!--<button type="button" class="track__share-button">Partager</button>-->
				</div>
			</div>
		</script>
		<script type="text/template" id="track-item-tpl">
			<div class="track__item" data-file="<%= file %>" data-title="<%= title %>" data-img="<%= img %>">
				<img class="track__item-img" src="<%= img %>">
				<div class="track__item-title"><%= title %></div>
			</div>
		</script>
		<script type="text/template" id="lightbox-tpl">
			<div class="lightbox <%= active ? 'active' : '' %>">
				<div class="lightbox__video">
					<div class="lightbox__video-html"><%= html %></div>
					<p><a href="<%= url %>" target="_blank" class="lightbox__video-url"><%= url %></a></p>
				</div>
			</div>
		</script>
		<script src="data.js?v=42"></script>
		<script src="js/jquery.js?v=42"></script>
		<script src="js/jquery.sortable.js?v=42"></script>
		<script src="js/underscore.js?v=42"></script>
		<script src="js/mousetrap.js?v=42"></script>
		<script src="js/tontube.js?v=42"></script>
		<!--<script src="js/script.js?v=10"></script> -->
		<!--<script>
			var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)}(document,'script'));
		</script>-->
	</body>
</html>
