@mixin display-ib {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

@mixin icon($img, $w:false) {
	display: inline-block;
	@extend .ir;
	@include background(image-url($img) no-repeat center center);
	$width: image-width($img);
	$height: image-height($img);
	@if $w != false {
		$width: $w;
		$height: image-height($img)/image-width($img)*$width;
	}
	@include background-size($width $height);
	width: $width;
	height: $height;
}

.rght { float: right;}
.lft { float: left;}

.b, b, strong { font-weight: normal; background: #fff59b; padding: 2px; }
.i { font-style: italic; }
.strike { text-decoration: line-through; }
.xsmall { font-size: x-small;  } 
.small { font-size: small;} 
.medium { font-size: medium;}

.error { color:red;}
.ok { color: green;}