* {
	@include box-sizing(border-box);
}

body, button, select, input, textarea, label {
	color: whiteSmoke;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background: #000;
	padding: 20px;
}

h1, h2, h3, h4, h5, h6, fieldset.group > legend:first-child {
	font-weight: normal;
}

.mobile-only { @extend .hidden; }

#container {
	text-align: center;
}

.items-container {
	text-align: center;
}

.item {
	display: inline-block;
	text-align: center;
	margin: 0 15px 50px;
	position: relative;
}

.item__video-link {
	width: 150px;
	height: 113px;
	display: block;
	margin: 0 auto 6px;
	position: relative;
}

.item__img {
	width: 150px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	border-radius: 3px;
	border: 1px solid #333;
	box-shadow: 0 0 30px #555;
}

.item__sound {
	display: inline-block;
	position: relative;
}

.item__sound-button {
	cursor: pointer;
	display: block;
	@include background(radial-gradient(#f1f1f1,#bbb));
	border: 1px solid #bbb;
	width: 35px;
	height: 35px;
	border-radius: 3px;
	@extend .ir;
	&:hover, &:focus {
		@include background(radial-gradient(#fff,#bbb));
	}
	&:active {
		@include background(radial-gradient(#e1e1d1,#bbb));
	}
	&.looping {
		@include background(radial-gradient(#F8E32E,#D5D193));
	}
}

.item__sound-title {
	position: absolute;
	// @include transform(rotate(-25deg));
	// @include transform-origin(right, top);
	border-radius: 3px;
	white-space: nowrap;
	font-size: large;
	color: whiteSmoke;
	background: #777;
	border: 1px solid #444;
	padding: 3px 6px;
	text-shadow: 0 0 3px #222;
	box-shadow: 0 0 10px #333;
	z-index: 100;
	bottom: -40px;
	display: none;
	.item__sound:hover & {
		display: block;
	}
	&:after, &:before {
		bottom: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	&:after {
		border-color: rgba(119, 119, 119, 0);
		border-bottom-color: #777;
		border-width: 10px;
		left: 19px;
		margin-left: -10px;
	}
	&:before {
		border-color: rgba(68, 68, 68, 0);
		border-bottom-color: #444;
		border-width: 11px;
		left: 19px;
		margin-left: -11px;
	}
}

.lightbox {
	position: fixed;
	width: 0;
	height: 0;
	overflow: hidden;
	left: 0;
	top: 0;
	z-index: 99;
	text-align: center;
	@include background(radial-gradient(rgba(#000, 0.9),rgba(#222, 0.9)));
	&.active {
		padding: 30px 0 0;
		width: auto;
		height: auto;
		bottom: 0;
		right: 0;
	}
	> div {
		margin: 0 auto;
	}
}

.lightbox__video-html iframe {
	box-shadow: 0px 2px 15px black;
}

.lightbox__video p {
	margin: 0;
}

.lightbox__video-url {
	display: inline-block;
	padding: 20px 100px;
	color: #222;
}