$black            : #000;
$almostBlack      : #222;
$gray             : lighten($black, 50%);
$grayDark         : lighten($black, 25%);
$grayLight        : lighten($black, 75%);
$grayLighter      : lighten($black, 90%);
$white            : #fff;
$blue             : #0069D6;
$blueDark         : #0064CD;
$blueOcean        : #347BB2;
$green            : #46a546;
$red              : #9d261d;
$yellow           : #ffc40d;
$orange           : #f89406;
$pink             : #c3325f;
$purple           : #7a43b6;

$sansSerif        : unquote("Arial, Helvetica, sans-serif");
$serif            : unquote("Georgia, serif");
$monospace        : unquote("Monaco, 'Monaco for Powerline', 'Courier New', monospace");

$listLeftMargin   : 2em;  // left margin for ul an ol

$baseFontFamily   : $sansSerif;
$baseFontSize     : 16px;  // taille de police par défaut
$baseLineHeight   : 1.231;  // line height par défaut (pas en pixels)
$baseLineHeightPx : ($baseFontSize * $baseLineHeight);

$fontColor        : $almostBlack;
$linkColor        : $blueDark;
$linkColorHover   : $linkColor;
$linkColorActive  : lighten($linkColor, 15%);
$linkColorVisited : darken($linkColor, 15%);

$tableOddColor    : #f2f2f2;
$tableHoverColor  : #ffffcc;

$selectedFontColor: $white;
$selectedBgColor  : $blueOcean;